---
import Layout from "../layouts/Layout.astro";
import Main from '../components/Main.astro';
import "../styles.css";
import MobileNav from "../components/MobileNav.astro";
---

<Layout title="Blip | About">
    <MobileNav/>
    <Main>
      <h1>About</h1>
    </Main>
</Layout>