---
import Layout from "../layouts/Layout.astro";
import Main from '../components/Main.astro';
import "../styles.css";
import MobileNav from "../components/MobileNav.astro";
---

<Layout title="Blip | Documentations">
    <MobileNav/>
    <Main>
        <h1>Documentations</h1>
    </Main>
</Layout>