---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro'
import MobileNav from "../components/MobileNav.astro"
import '../styles.css'
import H1 from '../components/H1.astro';

export const prerender = true
---

<Layout title="Blip">
	<MobileNav/>
		<Main>
			<H1>Homepage</H1>
		</Main>
</Layout>