---
interface Props{
    name: string
}

const {name} = Astro.props;
---
<div class="border max-md:w-[98%] max-md:mx-auto w-[432px] rounded hover:border-red-300 dark:border-gray-400 dark:bg-gradient-to-br dark:border-none dark:from-[#797979ad] dark:to-[#00076885] dark:text-gray-800 dark:hover:bg-[#242236] dark:hover:border-[#242236] bg-red-400 hover:bg-red-300 hover:text-black dark:hover:text-gray-100 duration-300 text-gray-100 ">
    <button type="submit" class=" p-1 text-xl w-[100%] font-bold ">{name}</button>
</div>